<!DOCTYPE html>
<html>
<head>
  <title>Gonggang</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <a href ='/users/sign_out'>로그아웃</a>
<%= yield %>

<style>
td {
    background-color : yellow;
}

table {
    text-align : center;
    font-family : 맑은고딕;
    margin-top : 3%;
    width : 90%;
    border : 1px solid black;
}

thead td {
    width : 10%;
}

th {
    font-weight : bold;
    font-size : 130%;
}
</style>

</body>
</html>
